@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

            /* body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                outline: none;
                font-family: 'Roboto', sans-serif;
            } */
            .A{
                height: 50px;
                background-color: white;
            }
            .B{
                background-color: rgb(207, 206, 206);
            }
            .C{
                margin-right: 50px;
            }
            .D{
                background-color: rgb(207, 206, 206);
            }
            .E{
                background-color:  white;
                height: 40px;
            }
            .F{
                height: 300px;
            }
            .G{
                background-color: #f2f2f2;
            }

            .pa
            {
                background-color: rgba(54, 38, 134, 0.7) ;
                width: 100%;
                padding: 50px;
                font-size: 50px;
                text-align: center;
                color: antiquewhite;
                z-index: 2;
                text-shadow: black 2px 2px 2px;
            }

            /* .img-L
            {
                position: absolute;
                top: -10px;
                left: 10px;
                z-index: -20;
            }
            .img-R
            {
                
                position: absolute;
                top: 0px;
                right: 0%;
                z-index: -1;
                height: 160px;
                width: 500px;
            } */

            .img
            {
                width: 90%;
                height: 300px;
                padding: 10px;
                border-radius: 30px;
            }
            .imga
            {
                
                margin-left: 25%;
                width: 50%;
                height: 300px;
                padding: 10px;
                border-radius: 30px;
            }

            .pre
            {
                font-size: 20px;
                border: solid;
                border-color: grey;
                padding: 10px;
                margin: 10px;
                border-radius: 30px;            
            }

            table
            {
                width: 100%;
                height: 180px;
                border: none;
                background-color: rgb(207, 206, 206);
            }

            .titles
            {
                /* font-size: 30px; */
                margin: 15px;
                margin-left: 30px;
            }

            .contact
            {
                margin-left: 25%;
                background: rgb(168, 18, 255);
                width: 50%;
                font-size: 20px;
                font-weight: 200;
                text-align: center;
            }

            /* .t
            {
                padding: 4px;
            } */
            .do{
                    padding: 2.5rem;
                    text-align: center;
                    color: rgba(0,0,0,.7);
                    background-color: #d7d4ed;
     
            }
            